{% extends "header.html" %}
{% block content %}
<div class="heading">
      <h1>&nbsp;Latest Articles&nbsp;<hr></h1>
    </div>
    <div class="content">
      <aside class="">
        <a href="{{ url_for('users') }}">Users</a><br>
        <a href="#">Top Articles</a><br>
      </aside>
      {% for art in articles %}
        <div class="article">
          <h1>{{ art.title }}</h1>
          <h4>{{ art.author }}</h4>
          <p class="articlecont">{{ art.content[:500] | striptags + '....' }}</p>
          <a href="{{ url_for('article', idd=art.id) }}"><button type="button" name="button">Read More</button></a>
        </div>
      {% endfor %}
    </div>
{% endblock %}
