{% extends "header.html" %}
{% block content %}
<script src="{{url_for('static', filename='ckeditor/ckeditor.js')}}" charset="utf-8"></script>
<form class="" action="{{ url_for('new') }}" method="post">
<center><input type="text" name="title" id='title' value="" placeholder="Title"></center>
<textarea name="content" id="content" rows="80" cols="80"></textarea>
<input type="Submit" name="" onclick="send()" id="submit" value="Submit">
<script type="text/javascript">
  CKEDITOR.replace('content', {
    removeButtons: 'About,Source'})
</script>
</form>
{% endblock %}
